body{
    background-color: black;
    border : 8px solid goldenrod;
    margin:0px;
}
.movie {
display: flex;
border-bottom: 8px solid orange;
color:white

}
.cont {
    display: flex;
    flex-direction: column;
    margin-left:20px;
}